/* 초기화 */
body {
  height: 100vh;
}
.main {
  height: 100%;
}
* {
  box-sizing: border-box;
}
p,
ul,
li,
a,
span,
h1,
h2,
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* custom */
.hide {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
.dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

button {
  border: none;

  padding: 10px 23px;
  border-radius: 18px;
  background: #ececec;
  color: #000;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

/* header */
body {
  background: #363636;
  position: relative;
}
header {
  width: 100%;
  padding: 2em;
  h1 {
    text-align: center;
    color: #ececec;
  }
}
.header_list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;

  button {
    margin: 0 1.5em;
    &:hover {
      color: #fff;
      background: darken(#ececec, 15%);
      transition: 0.3s;
    }
  }
}

/* main */
.main {
  height: 100%;
}
/* modal */
.dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.dialog__container {
  position: absolute;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#dialog__body {
  flex: 1;
}
// .popup_header {
//   display: flex;
//   align-items: center;
//   margin-bottom: 30px;
//   width: 80%;
//   h2 {
//     text-align: center;
//     flex: 1;
//   }
//   .close {
//     width: 15px;
//     height: 15px;
//     cursor: pointer;
//   }
// }

// .user_text {
//   width: 75%;
//   margin: 7px 0;
//   display: flex;
//   align-items: center;
// }
// label {
//   width: 15%;
// }
// input {
//   flex: 1;
//   outline: none;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   padding: 10px 20px;
// }

.dialog__submit {
  border-radius: 0;
  &:hover {
    background: #3478ec;
  }
}

.close {
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  padding: 5px 10px;
}

/* body */
.page-item {
  position: relative;
}

.page-item__body {
  section {
    display: flex;
    margin: 30px 0;
    padding: 5px 10px;
    iframe,
    .image_container {
      flex: 0.7;
      max-height: 400px;
      max-width: 600px;
      overflow: hidden;
      position: relative;
    }
  }
  section.note,
  section.todo {
    flex-direction: column;
  }
}

.page-item__controls {
  position: absolute;
  right: 20px;
  top: 50%;
}

.page-item__controls .close {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  padding: 5px 10px;
}
